

@using System.Configuration
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title> Rredirecting to MSign...</title>
</head>
<body onload='document.forms[0].submit();'>
    <form method="POST" action="@String.Format(ViewBag.URLBrowser, ViewBag.RequestID)">
        <input type="hidden" name="MSISDN" value="@ViewBag.Phone" /><!--aka MSISDN-->
        <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
        <input type="hidden" name="RelayState" value="@ViewBag.RelayState" />

        <noscript>
            <p>
                <strong> MiSngRedirectNote  @*Note:*@</strong>

                Since your browser does not support Javascript, please click the Continue button once to proceed.
            </p>
            <div>
                <input type="submit" value="Continue" @*value="Continue"*@ />
            </div>
        </noscript>
    </form>
</body>
</html>

