
@{
    ViewBag.Title = "Status";
}

<hr />
<h2>Statutul cererii</h2>

<div class="container">

    @using (Html.BeginForm("Status", "PriorAppointment", FormMethod.Post))
    {

        <div class="row">
            <div class="col-sm-9">

                <div class="row">
                    <label class="col-sm-2">Numarul cererii:</label>
                    <div class="col-sm-10">
                        @Html.TextBox("RequestNumber", "", new { @class = "form-control", placeholder = "Numarul cererii" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10">
                        <p>Result: </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
            </div>
        </div>
    }
</div>





