@model ProgramareAC.Models.Models.Appointment.CheckStatusModel

@{
    ViewBag.Title = "Status";
}

<div class="container">

    <h2>Verificarea statului cererii</h2>
    <hr />

    @using (Html.BeginForm("Status", "PriorAppointment", FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-9">

                <div class="row">
                    <label class="col-sm-3">Numarul cererii:</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(x => x.pCerereId, new { @class = "form-control", placeholder = "Numarul cererii" })
                        @Html.ValidationMessageFor(x => x.pCerereId)
                    </div>
                </div>

                <hr />
                <br />

                <div class="row">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">Verifica</button>
                    </div>

                    <div class="col-sm-9">
                        <table class="table table-bordered" style="width:100%">
                            <tr>
                                <td style="width:50%">Statutul: </td>
                                <td style="width:50%">@(Model.RequestStatus)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</div>





